/*body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
}

h1 {
  font-style: italic;
  color: pink;
}

h2 {
  text-wrap: wrap;
  font-style: italic;
  text-align: center;
}

p {
  position: relative;
  top: 170px;
  left: 80px;
}

.cards {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 22px;
}

.card {
  max-width: 300px; 
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

.hidden {
  display: none;
}


button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #007bff;
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #5b0000, #4e4d4d, #004e2f);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 350px;
  width: 100%;
  background-color: #fff transparent;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  padding: 30px;
  text-align: center;
}

.view {
  display: none;
}

.visible {
  display: block;
}

h1, h2 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #7700b3;
}

.symbol-options {
  text-align: center;
  margin-top: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  max-height: 200px; /* Limit height to prevent excessive scrolling */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbol-options button {
  width: 100%;
  background-color: transparent;
}

.symbol-options button:hover {
  background-color: white transparent;
}

.restart-button {
  background-color: #dc3540;
}

.restart-button:hover {
  background-color: #21bd93;
}