/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
  color: pink;
}

h2{
  text-wrap: wrap;
  font-style: italic;
  text-align: center;
}

p{
  position: relative;
  top: 170px; left: 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 22px;
  border: 1 px solid black;
}

.card {
  display: grid;
  grid-template-rows: max-content 400px 1fr;
  left: 500px;
}

/* Show the current card */
.visible {
  display: block;
}

/* Hide current Card*/
.hidden {
  display: none;
}

/* Button styling */
button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}